/.DS_Store
/v1
/v2
/v3/data
v3/*.csv
v3/generated-data/*.csv
*.csv
**/.DS_Store
v3/classes/__pycache__/*
v3/__pycache__/*
v3/classes/__pycache__/
v3/output_plots/*.png
v3/generated-data/properties.json